<header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container">
        <a class="navbar-brand" routerLink=""><img src="https://assets-global.website-files.com/64b8bca09e0474df27fcc6a9/64f936a74c0ef83f9685a26d_logo-primary.svg" alt="logo"></a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" routerLink="" routerLinkActive="active"  ariaCurrentWhenActive="page" [routerLinkActiveOptions]="{exact: true}" >Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="create" routerLinkActive="active" ariaCurrentWhenActive="page" >Create Book</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="update"  routerLinkActive="active" ariaCurrentWhenActive="page" >Update Book</a>
              </li>
            </ul>
  
        </div>
      </div>
    </nav>
  </header>