<section class="hero">
    <div class="container g-0">
      <div class="row justify-content-between">
        <div class="col-md hero__content">
          <h4 class="d-flex align-items-center">
            <span class="hyphen"></span>
            <span>Sale Up To 25% Off</span>
          </h4>
          <h1>
            Peak 30 Books To Make It A Great Year
          </h1>
          <a href="#" class="btn hero__btn">Shop Now</a>
        </div>
        <div class="col-md-5">
           <img class="img-fluid w-100 hero__img" [src]="heroImg" alt="">
        </div>
      </div>
    </div>
</section>