body,
* {
  font-family: 'Jost Regular', sans-serif;
}

body {
  color: var(--body-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
}



:root {
  --body-color: #5a5a5a;
  --secondary-color: #01001a;
  --primary-color: #0160ff;
  --white-color: white;
  --title-color: #1b3764;
}



/* FONTS  */
@font-face {
  font-family: 'Jost Semi Blod';
  src: url('https://assets.website-files.com/64b8bca09e0474df27fcc6a9/64b8bd398f0f911317c8e2f5_Jost-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost Thin(100)';
  src: url('https://assets.website-files.com/64b8bca09e0474df27fcc6a9/64b8bd6c4bca56bb689d77ef_Jost-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost Regular';
  src: url('https://assets.website-files.com/64b8bca09e0474df27fcc6a9/64b8bd8cd50bdec0c83b9ec1_Jost-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost Medium';
  src: url('https://assets.website-files.com/64b8bca09e0474df27fcc6a9/64b8bd9d806237ea741bdc57_Jost-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost Light';
  src: url('https://assets.website-files.com/64b8bca09e0474df27fcc6a9/64b8bdace7c0340aef8ca4a7_Jost-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost Extra Light';
  src: url('https://assets.website-files.com/64b8bca09e0474df27fcc6a9/64b8bdcd806237ea741c26d8_Jost-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost Bold';
  src: url('https://assets.website-files.com/64b8bca09e0474df27fcc6a9/64b8bdf7d50bdec0c83c1bff_Jost-ExtraBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Jost Extra Bold';
  src: url('https://assets.website-files.com/64b8bca09e0474df27fcc6a9/64b8bdf7d50bdec0c83c1bff_Jost-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}





.hero__btn {
  padding-top: 14px;
  padding-bottom: 13px;
  line-height: 1.2;
  transition: color .3s, background-color .3s;
  background-color: var(--primary-color);
  border-radius: 5px;
  padding-left: 37px;
  padding-right: 37px;
  font-family: 'Jost Semi Blod', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--white-color);
}

.hero__btn:hover {
  background-color: var(--secondary-color);
  color: var(--white-color);
}


.categories__tittle {
  color: var(--secondary-color);
  background-image: url("https://assets-global.website-files.com/64b8bca09e0474df27fcc6a9/64c0a3777e8881a7474818d7_blogshape.png");
  background-position: 50% 85%;
  background-repeat: no-repeat;
  background-size: 340px 3px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  background-position: 0 82%;
  background-size: 346px;
  font-family: 'Jost Medium', sans-serif;
  font-weight: 500;
  line-height: 1;
}

.section__content {
  font-size: 20px;
  margin-bottom: 0;
}